/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden],
template {
    display: none
}
a {
    background-color: transparent
}
a:active,
a:hover {
    outline: 0
}
abbr[title] {
    border-bottom: 1px dotted
}
b,
strong {
    font-weight: bold
}
dfn {
    font-style: italic
}
h1 {
    font-size: 2em;
    margin: 0.67em 0
}
mark {
    background: #ff0;
    color: #000
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 45%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -1.5em
}
sub {
    bottom: -0.25em
}
img {
    border: 0
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 1em 40px
}
hr {
    box-sizing: content-box;
    height: 0
}
pre {
    overflow: auto
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}
button {
    overflow: visible
}
button,
select {
    text-transform: none
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled],
html input[disabled] {
    cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input {
    line-height: normal
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}
input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}
legend {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto
}
optgroup {
    font-weight: bold
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
td,
th {
    padding: 0
}
* {
    box-sizing: border-box
}
input,
select,
textarea,
button {
    font: 14px/1.4 "Open Sans", sans-serif
}
input:hover,
input:focus,
input:active,
select:hover,
select:focus,
select:active,
textarea:hover,
textarea:focus,
textarea:active,
button:hover,
button:focus,
button:active {
    outline: 0
}
body {
    font: 14px/1.4 "Open Sans", sans-serif;
    color: #333;
    background-color: #fff
}
hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-top: 5px solid #008cd5;
    border-bottom: 5px solid #008cd5;
}
hr:before {
    display: table;
    content: ""
}
hr:after {
    display: table;
    clear: both;
    content: ""
}
.browserupgrade {
    background: #f00;
    color: #fff;
    margin: 0;
    text-align: center;
    padding: 0.8em;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999
}
.browserupgrade a {
    font-weight: bold;
    color: #ff0
}
.cf:before {
    display: table;
    content: ""
}
.cf:after {
    display: table;
    clear: both;
    content: ""
}
iframe[name='google_conversion_frame'] {
    height: 0 !important;
    width: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    margin-top: -13px;
    float: left
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle
}
figure {
    margin: 0;
    padding: 0
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin: 0 0 0.7em;
    line-height: 1.2
}
h1,
.h1 {
    font-size: 30px
}
h2,
.h2 {
    font-size: 21px
}
h3,
.h3 {
    font-size: 16px
}
h4,
.h4 {
    font-size: 14px
}
h5,
.h5 {
    font-size: 12px
}
h6,
.h6 {
    font-size: 11px
}
a {
    color: #0174CE;
    text-decoration: none
}
a:hover,
a:focus,
a:active {
    outline: 0
}
a:focus {
    text-decoration: none
}
a[href^=tel] {
    cursor: default
}
p {
    margin: 0 0 0.7em
}
small {
    font-size: 90%
}
blockquote {
    margin: 0
}
ul,
ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0
}
ol ol,
ul ol {
    list-style-type: lower-roman
}
ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
    list-style-type: lower-alpha
}
dd {
    margin-left: 0
}
tt,
code {
    font-family: "Open Sans", sans-serif;
    font-size: 12px
}
pre {
    margin-top: 0;
    margin-bottom: 0;
    font: 12px "Open Sans", sans-serif
}
fieldset {
    padding: 0;
    margin: 0;
    border: 0
}
label {
    font-size: 13px;
    font-weight: bold;
    outline: none
}
label:focus {
    outline: none
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}
.form-control {
    height: 38px;
    padding: 7px 8px;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    display: block;
    width: 100%;
    transition: all ease .1s
}
.form-control.focus,
.form-control:focus {
    border-color: #0174CE;
    box-shadow: 0 0 5px rgba(81, 167, 232, 0.5)
}
textarea {
    resize: none;
    height: auto
}
.form-group {
    margin-bottom: 15px
}
input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin-right: 0.35em
}
input.input-contrast,
.input-contrast {
    background-color: #fafafa
}
input.input-contrast:focus,
.input-contrast:focus {
    background-color: #fff
}
::-webkit-input-placeholder {
    color: #aaa
}
::-moz-placeholder {
    color: #aaa
}
:-ms-input-placeholder {
    color: #aaa
}
::placeholder {
    color: #aaa
}
button:focus,
button.focus,
input[type="submit"]:focus,
input[type="submit"].focus {
    outline: 0
}
.form-box input:-moz-placeholder {
    opacity: 1;
    color: #333 !important
}
.form-box input::-moz-placeholder {
    opacity: 1;
    color: #333 !important
}
.form-box::-webkit-input-placeholder {
    color: #333 !important;
    opacity: 1 !important
}
.form-box textarea:-moz-placeholder {
    opacity: 1;
    color: #333 !important
}
.form-box textarea::-moz-placeholder {
    opacity: 1;
    color: #333 !important
}
.form-box::-webkit-input-placeholder {
    opacity: 1 !important;
    color: #333 !important
}
table {
    border-collapse: collapse;
    margin: 0.7em 0;
    table-layout: fixed;
    width: 100%
}
th {
    border-bottom: 2px solid #ddd;
    font-weight: 600;
    padding: 0.7em 0;
    text-align: left
}
td {
    border-bottom: 1px solid #ddd;
    padding: 0.7em 0
}
tr,
td,
th {
    vertical-align: middle
}
.btn {
    position: relative;
    display: inline-block;
    padding: 12px 25px;
    font: 800 23px "Open Sans", sans-serif;
    color: #031F73;
    white-space: nowrap;
    vertical-align: middle;
    background: #FAE700;
    border-radius: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    border-bottom: 5px solid #B7A100!important;
    transition: all .5s linear;
    cursor: pointer!important;
    margin: 0 10px;
}
.btn:hover {
    text-decoration: none;
    background: #ddd;
    background-image: linear-gradient(#eee, #ddd);
    border-color: #ccc
}
.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    background: #0174CE
}
.btn-primary:hover {
    color: #fff;
    background: #0166b5
}
.btn-primary:active {
    background: #01579b
}
.btn-primary:disabled,
.btn-primary:disabled:hover,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #fefefe;
    background: #add39f
}
.btn-outline {
    color: #0174CE;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e5e5
}
.btn-outline:focus {
    border: 1px solid #e5e5e5
}
.btn-outline:hover,
.btn-outline:active {
    color: #fff;
    background-color: #0174CE;
    background-image: none;
    border-color: #0174CE
}
.btn-outline:disabled,
.btn-outline:disabled:hover,
.btn-outline.disabled,
.btn-outline.disabled:hover {
    color: #767676;
    background-color: #fff;
    background-image: none;
    border-color: #e5e5e5
}
.btn-sm {
    padding: 2px 10px
}
.btn-block {
    display: block;
    width: 100%;
    text-align: center
}
html {
    overflow-x: hidden
}
.padd-box {
    padding-right: 100px !important;
    padding-left: 100px !important
}
.header {
   padding-top: 20px;
    position: fixed;
    width: 100%;
    z-index: 1030;
    background: #fff;
}
.header p {
    font: 700 40px "Open Sans", sans-serif;
    color: #021f73;
    text-align: right
}
.header p a {
    font-weight:800;
    color: #031f73;
    margin-bottom: 10px;
}
.note {
    left: 15px;
    bottom: 80px;
    font-size: 11px
}
.banner {
    position: relative;
    width: 100%;
    color: #fff;
    margin-top: 100px !important;
}

.banner-txt h1{
    color: #031f73;
}
.banner-txt btn {
     position: relative;
    display: inline-block;
}

.monthfree p{
    font-weight:700;
    margin-bottom: 0rem;
}

.monthfree h5{
    font-weight:700;
    margin-bottom: 0rem;
}
.monthfree h3{
    font-weight:700;
    margin-bottom: 0rem;
}

.banner h1 {
    font: 800 54px "Open Sans", sans-serif;
    margin: 0
}
.banner h2 {
    font: 300 40px "Open Sans", sans-serif;
    margin: 0;
    display: inline-block;
}
.banner h3 {
    font: 400 39px "Open Sans", sans-serif;
    margin: 0 30px 0px 0;
    display: inline-block
}
.banner h4{
    font: bold 30px "Open Sans",sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
}
.banner p{
    font: bold 30px "Open Sans",sans-serif;
    margin-bottom: 30px;
}

.banner-txt {
    padding-top: 70px;
}
.banner-pic {
    position: absolute;
    top: 2px;
    right: 600px;
    width: 31%;
    z-index: 10;
}
.white-gap {
    height: 108px;
    background: #00B9E4;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%
}

.first-bx {
    background: #00B9E4;
    position: relative;
    overflow: hidden
}

.first-bx a{
    font-weight:700
}
.bnr-rib {
    display: inline-block;
    background: #0174CE;
    position: relative;
    font: bold 30px "Open Sans", sans-serif;
    padding: 10px 20px;
    margin: 10px 15px 30px 15px;
    height: 62px
}
.bnr-rib:before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-top: 31px solid #0174CE;
    border-bottom: 31px solid #0174CE
}
.bnr-rib:after {
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-top: 31px solid #0174CE;
    border-bottom: 31px solid #0174CE
}
.popular {
    background: #031F73;
    padding: 10px 5px;
    display: inline-block;
    color: #fff;
    position: absolute;
    top: 40px;
    left: -60px;
    width: 240px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font: 700 19px "Open Sans", sans-serif;
    text-align: center;
    box-shadow: -1px 3px 2px 0px rgba(0, 0, 0, 0.3)
}
.popular::after {
    content: "";
    position: absolute;
    right: -30px;
    top: -22px;
    width: 100px;
    height: 40px;
    background: #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}
.top-section {
    position: relative;
    background: #0174CE;
    padding: 90px 0
}
.top-section h2 {
    color: #FAE700;
    font: 800 50px "Open Sans", sans-serif
}
.top-section li {
    float: left;
    width: 50%;
    color: #fff;
    font: 400 24px "Open Sans", sans-serif;
    position: relative;
    list-style: none;
    padding: 0 30px;
    margin-bottom: 5px
}
.top-section li::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: #FAE700;
    border-radius: 100%;
    left: 0;
    top: 12px
}
.crown {
  /*  background:url("../img/crown.png")no-repeat;*/
    height: 148px;
    position: absolute;
    top: -63px;
    width: 94px;
    left:-4px;
    transform: rotate(-87deg);
    -webkit-transform: rotate(-87deg);
    -ms-transform: rotate(-87deg);
}
.sec-bx {
    padding: 100px 0;
    background: #00B9E4;
    text-align: center
}
.sec-bx h3 {
    font: 800 45px "Open Sans", sans-serif;
    color: #fff;
    margin: 0
}
.sec-bx h3 span {
    color: #FAE700
}
.package-main {
    text-align: center;
    padding: 10px 0;
}

.package {
    padding: 20px 0 0 0
}
.package h2,
.package h3 {
    color: #021f73;
}
.package h2 {
    font: 800 30px "Open Sans", sans-serif;
    margin: 0
}
.package h3 {
    font: 600 15px "Open Sans", sans-serif;
    margin-bottom: 8px;
    margin-top: 2px
}
.package h3 span {
    display: block;
    font-weight: 600
}
.package h4 {
    font: 600 26px "Open Sans", sans-serif;
    color: #021f73;
    margin: 0 0 5px 0
}
.package h5 {
    font: 600 95px/1 "Open Sans", sans-serif;
    color: #021f73;
    margin: 0
}
.package h5 span {
    display: block;
    font: 500 40px "Open Sans", sans-serif;
    margin-bottom: 10px
}
.package p {
    font: 500 16px "Open Sans", sans-serif;
    color: #464646;
    padding: 0 30px;
    margin-bottom: 5px;
    font-weight: bold;

}
.package p span {
    display: block;
    font-size: 13px;
    max-width: 340px;
    margin: 0 auto
}

.package a {
    font-weight:800;
}

    .monthfree {
    background: #FAE700;
}

.monthfree h3{
    padding-top:20px;
    color: #031F73;
}
.monthfree h5{
    color: #031F73;
}
    .historyinfo {
         padding: 50px 50px 50px 50px;
    }
.cnt-bx {
    background: #FAE700;
    max-width: 340px;
    margin: 0 auto 18px auto;
    position: relative;
}
.top-cnt {
     padding: 8px 15px;
}

.cnt-btm {
    background: #0073cf;
    font: 600 45px "Open Sans", sans-serif;
    color: #ffffff;
}
.cnt-bx.np .cnt-btm{
 padding-top: 1rem;
}
.plan {
    font: 300 14px "Open Sans", sans-serif;
    color: #565a5c;
    text-align: center;
    padding: 0 15px;
    margin-top: 50px
}
.boxx {
    background: #fff;
    overflow: hidden;
    border-radius: 20px;
    float: left
}
.boxx .up {
    background: #0174CE;
    padding: 18px 5px;
    font: 600 24px/1 "Open Sans", sans-serif
}
.box-left {
    padding: 130px 100px;
    background-color: #00B9E4;
    margin-bottom: 10px
}
.box-right {
    padding: 130px 100px;
    background-color: #00B9E4;
    margin-bottom: 10px
}
.box-right .boxx {
    float: right
}
.l-side {
    float: left;
    width: 298px;
    background: #031F73;
    color: #fff;
    text-align: center;
    font: 300 120px/1 "Open Sans", sans-serif;
    padding-top: 40px
}
.l-side span {
    display: block;
    font: 300 30px/1 "Open Sans", sans-serif;
    margin: 5px 0 40px 0
}
.r-side {
    float: left;
    width: 627px;
    padding: 30px 60px 0 30px
}
.r-side p {
    font: 400 24px/32px "Open Sans", sans-serif;
    color: #031F73;
    margin-bottom: 30px
}
.user {
    display: inline-block;
    padding: 8px 10px 4px 10px;
    background: #FAE700;
    border-radius: 5px;
    font: 400 18px/1 "Open Sans", sans-serif;
    color: #031F73;
    min-width: 250px
}
.user i {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: -2px
}
.user i:last-child {
    margin-right: 10px
}
.tp-rsd {
    height: 204px
}
.bottom-bx {
    background: #FAE700;
    padding: 124px 0 115px 0;
    text-align: center
}
.bottom-bx h2 {
    color: #00B9E4;
    font: 700 45px "Open Sans", sans-serif
}
.bottom-bx .btn {
    background: #fff;
    border-bottom: 5px solid #D8D9D5
}
.bottom-bx .btn:hover {
    background: #00B9E4;
    border-bottom: 5px solid #0174CE
}
.blue{
    background: #00B9E4;
    padding: 40px 0 45px;
    margin: 28px auto 0
}
.footer {
    padding: 10px 0 ;
    background: #031F73;
}
.f-top {
    padding-bottom: 43px
}
.f-top p {
    float: right;
    font: 700 36px "Open Sans", sans-serif;
    color: #031F73
}
.f-top p a {
    color: #00B9E4;
    font-weight: 500
}
.f-btm p {
    color: #ffffff;
    font: 400 12px/20px "Open Sans", sans-serif
}
.f-btm p a {
    color: #464646
}
.f-btm p a:hover {
    color: #0174CE
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    40% {
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    60% {
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}
.arrow {
    float: right;
    width: 40px;
    height: 40px;
    background-size: contain;
    cursor: pointer;
    z-index: 100;
    position: relative;
    margin: -50px 30px 0 30px
}
.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite
}
.line-a {
    display: inline-block;
    width: 30px;
    height: 6px;
    background: #031F73;
    position: absolute;
    left: -4px;
    top: 13px;
    transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transition: background 0.3s ease-in-out
}
.line-b {
    display: inline-block;
    width: 30px;
    height: 6px;
    background: #031F73;
    position: absolute;
    right: -4px;
    top: 13px;
    transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transition: background 0.3s ease-in-out
}
.bounce:hover .line-a,
.bounce:hover .line-b {
    background: #0174CE
}
#scr {
    height: 0;
    width: 0;
    display: inline-block
}
.note {
    position: absolute;
    bottom: 120px;
    left: 100px;
    color: #fff
}
@media screen and (max-width: 1400px) {
    .padd-box {
        padding-right: 15px !important;
        padding-left: 15px !important
    }
    .note {
        left: 15px;
        bottom: 80px;
        font-size: 11px
    }
    .logo {
        width: 220px
    }
    .header p {
        font-size: 24px
    }
    .banner h1 {
        font-size: 45px
    }
    .banner h2 {
        font-size: 28px
    }
    .banner h3 {
        font-size: 48px
    }
    .bnr-rib {
        height: 42px;
        font-size: 20px;
        line-height: 20px
    }
    .bnr-rib:after {
        border-left: 8px solid transparent;
        border-top: 21px solid #0174CE;
        border-bottom: 21px solid #0174CE
    }
    .bnr-rib:before {
        border-right: 8px solid transparent;
        border-top: 21px solid #0174CE;
        border-bottom: 21px solid #0174CE
    }
    .btn {
        font-size: 18px;
        padding: 9px 18px
    }
    .banner-txt {
        padding-top: 100px
    }
    .white-gap {
        height: 60px
    }
    .top-section {
        padding-bottom: 30px
    }
    .top-section h2 {
        text-align: center;
        font-size: 34px
    }
    .top-section ul {
        padding: 0 0 0 30px
    }
    .top-section li {
        width: 100%
    }
    .sec-bx {
        padding: 30px 0
    }
    .sec-bx h3 {
        font-size: 26px;
        line-height: 30px
    }
    
    .package {
        max-width: 400px;
        margin: 0 auto
    }
    .package h2 {
        font-size: 26px
    }
    .package h3 {
        font-size: 16px
    }
    .package h4 {
        font-size: 22px
    }
    .package h5 {
        font-size: 110px;
    }
    .package h5 span {
        font-size: 40px
    }
    .package p {
        font-size: 16px
    }
    .cnt-btm {
        font-size: 30px
    }
    .box-right {
        padding: 100px 50px
    }
    .r-side {
        padding: 30px 15px 0 15px;
        width: 490px
    }
    .r-side p {
        font-size: 16px;
        line-height: 22px
    }
    .l-side {
        font-size: 80px
    }
    .boxx .up {
        font-size: 20px
    }
    .tp-rsd {
        height: 164px
    }
    .box-right .boxx,
    .box-left .boxx {
        float: none;
        margin: 0 auto;
        width: 800px
    }
    .bottom-bx {
        padding: 30px 15px
    }
    .bottom-bx h2 {
        font-size: 34px
    }
    .f-top {
        padding-bottom: 10px
    }
    .f-top img {
        max-width: 180px
    }
    .f-top p {
        font-size: 27px
    }
    .box-left,
    .box-right {
        padding: 330px 0 30px 0;
        background-size: 400px !important;
        background-position: 50% 0 !important
    }
    .banner-pic {
        width: 44%;
        right: 127px;
        top: -28px;
    }
}
@media screen and (max-width: 1199px) {
    /*.first-bx {
        height: 100%;
    }*/
    .banner h4 {
        font: bold 24px "Open Sans",sans-serif;
    }
    .banner p {
        font: bold 20px "Open Sans",sans-serif;
    }
}
@media (max-width: 991px) {
    .box-left,
    .box-right {
        padding: 260px 30px 30px 30px;
        background-size: 320px !important
    }
    .box-right .boxx,
    .box-left .boxx {
        width: 100%
    }
    .r-side,
    .l-side,
    .tp-rsd {
        width: 100%;
        height: auto
    }
    .r-side {
        padding: 30px 15px
    }
    .banner{
        margin-top: 155px;
    }
    .banner-pic{
        top: -33px !important;
    }
    .banner-txt{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 479px) {
    .banner h3 {
        margin-right: 0;
        display: block;
    }
    .banner{
        margin-top: 195px !important;
    }
}
@media (max-width: 767px) {
    .logo {
        width: 180px;
        margin: 0 auto 20px auto
    }
    .banner h4 {
    font: bold 20px "Open Sans",sans-serif;
}
    .header {
        text-align: center
    }
    .header p {
        font-size: 20px;
        text-align: center
    }
    .first-bx {
        height: 100%
    }
    .banner-pic {
        position: static;
        width: 100%
    }
    .banner {
        text-align: center;
        margin-top: 138px;
    }
    .banner h1 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 15px
    }
    .banner h2 {
        font-size: 20px;
        line-height: 24px
    }
    .banner-txt {
        padding: 20px 15px
    }
    .bnr-rib {
        font-size: 14px
    }
    .white-gap {
        position: relative;
        height: 15px
    }
    .arrow {
        display: none
    }
    .popular {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        top: 10px;
        left: 0;
        width: auto;
        padding: 5px 15px
    }
    .popular::after {
        display: none
    }
    .top-section {
        padding: 70px 15px 15px 15px
    }
    .top-section h2 {
        font-size: 30px
    }
    .top-section li {
        font-size: 18px
    }
    .top-section li:before {
        top: 7px
    }
    .sec-bx h3 {
        font-weight: 600;
        font-size: 23px;
        line-height: 28px
    }
    .package {
        padding: 25px 15px 0 15px
    }
    .package h3 {
        margin-bottom: 25px;
    }
    .box-left,
    .box-right {
        background-size: 300px !important;
        padding: 250px 15px 30px 15px
    }
    .bottom-bx h2 {
        font-size: 22px
    }
    .footer {
        text-align: center
    }
    .f-top img {
        margin-bottom: 30px
    }
    .f-top p {
        float: none;
        font-size: 20px
    }
    .note {
        position: static;
        padding: 15px;
        background: #00B9E4;
        text-align: center
    }
    .package-main {
        padding-bottom: 15px
    }
}
@media (max-width: 1600px) {
    .banner p {
    /*margin-bottom: 40px;*/
    margin-bottom: 5px;
}
.banner-txt {
    padding-top: 0;
}
.banner h1{
    font-size: 48px;
}
.banner h3{
    font-size: 32px;
}
    }

     /*new-2-6-17*/
    .tp-rsd{display: table;}
    .tp-rsd-chld{vertical-align: middle;display: table-cell;}

    /*new-2-6-17*/

/*=== Crown ====*/
.ribbon {
       position: absolute;
    padding: 26px 3px 238px 55px;
    transform: rotate(-46deg);
    -webkit-transform: rotate(-46deg);
    -ms-transform: rotate(-46deg);
    font: 400 2.3rem "Open Sans", sans-serif;
    color: #031f73;
    text-transform: capitalize;
    z-index: 2;
    top: -12px;
}
.ribbon.np{
  padding-left: 60px;
  top:-17px;
}
.ribbon.lt{
  top: -28px;
    width: 53%;
    line-height: 2.1rem;
    padding-left: 4.2rem;
    transform: rotate(-49deg);
}
.crown:before {
    position: absolute;
    content: '';
    width: 150px;
    height: 150px;
    background: url(../img/ribbon.png)no-repeat;
    right: -4px;
    top: 31px;
    z-index: 1;
}
.crown.lt:before {
  background: url(../img/ribbon_lt.png)no-repeat;
  background-size: contain;
top: 30px;
left: -80px;
}
.crown.np:before {
  background: url(../img/ribbon_np.png)no-repeat;
}
@media screen and (max-width: 767px){
    .crown{
        width: 70px;
        height: 63px;
        background-size: 100%;
        right: -25px;
        top: -26px;
        left: -16px;
    }

    .crown.lt{
      top: -11px;
      left: -35px;
    }

    .crown:before{
        right: -14px;
        top: 10px;
    }
}
/*=== Crown End ====*/


.mob-show{
     display: none;
    }
@media screen and (max-width: 1119px){
    .mob-hid{
        display: none;
    }
    .mob-show{
     display: inline-block;
    }
    .banner h1 {
    font-size: 43px;
}
.banner h3 {
    font-size: 30px;
}
}

.icon-order img{
  width: 30px;
}
.icon-phone img{
  width: 21px;
  margin: 0 5px 0 0;
}
@media screen and (max-width: 767px){
.banner h1 {
    font-size: 30px;
    line-height: 38px;
    margin: 10px 0;
}
.banner .btn{
    margin-bottom: 10px;
}
.how .btn {
   margin-bottom: 10px;
}
.banner h3 {
    font-size: 23px;
}
}
.how-to {
    text-align: center;
    padding: 20px 0 30px;
    background: #00B9E4;
}

 .how-to h2  {color: #fff;
    font: 700 48px "Open Sans", sans-serif;
    margin-bottom: 15px;
}

@media screen and (max-width: 767px){
.how-to h2{
 font-size: 35px;
}
.how-to{
    padding: 20px 0;
}
.how-to .btn{
 margin-bottom: 15px;
}
}

.reg-price {
    font-size: 36px;
    display: block;
    text-decoration: line-through;
    color: #fff;
}
.f-btm p a{
    color: #FAE700;
}

.right-text h2{
    font: 800 30px "Open Sans", sans-serif;
        margin: 20px 0 0;
    color: #031F73;
}
.right-text p{
    font: 400 16px "Open Sans", sans-serif;
    color: #031F73;
}
.right-text h3{
  color: #fff;
  font: 700 45px "Open Sans", sans-serif;
  margin: 0px 0 40px;
}


@media screen and (max-width: 1119px){

.banner-pic {
    width: 50%;
    top: -11px;
    right: -1px;
}
}
@media screen and (max-width: 767px){
.banner-pic {
    width: 88%;
    }
    .right-text h2{
        font-size: 25px;
    }
    .right-text h3{
        font-size: 35px;
    }
    .ribbon{
            padding: 22px 3px 244px 55px;
    }
    .ribbon.lt{
      padding-left: 4.5rem;
    }
}


.modal-open {
  overflow: visible !important;
  padding-right: 0 !important;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  top: 300px;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.modal.fade.in .modal-dialog {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0, -300px, 0);
  transform: translate3d(0, -300px, 0);
  opacity: 1;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  z-index: 2000;
}

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.5 !important;
  filter: alpha(opacity=50);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.43px;
  background: #00B9E4;
}

.modal-header h4 {
  font-size: 20px;
  color: #fff;
  line-height: 20px;
}

.modal-header .close {
  margin-top: -2px;
  width: 40px;
  height: 50px;
  position: absolute;
  top: 2px;
  right: 0;
  background: #00B9E4;
  border: 0;
  font: 700 24px/50px Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.modal-header .close:hover {
  color: #9d0604;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
  text-align: center;
  text-transform: uppercase;
}

.modal-body {
  position: relative;
  padding: 18px;
}

.modal-body h6 {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 400;
}

.modal-footer {
  padding: 0 15px 15px;
  text-align: right;
}

.modal-content .modal-footer .captcha-wrap p {
  margin-bottom: 0;
}

.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
  /*six months*/
  .subheader .row{
    margin-top: 14rem
  }
  /*six months end*/
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

.modal-content input {
  border: 1px solid #ccc;
}

.modal-content textarea {
  border: 1px solid #ccc;
}

.modal-content .banner-form .form-bdy {
  padding: 20px 8px;
}


.pop-form {
    padding: 20px 0 30px
}
input[type=text], input[type=tel], input[type=email], textarea {
    width: 100%;
    border: 1px solid #e5e5e5;
    margin-bottom: 19px;
    padding: 0 10px;
    font: 400 14px Open Sans, Sans-serif;
    color: #48484a;
    box-shadow: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}
input[type=text], input[type=tel], input[type=email] {
    height: 40px
}
textarea {
    resize: none;
    height: 80px;
    padding: 5px 10px
}
::-webkit-input-placeholder {
    color: #48484a;
    opacity: 1
}
:-moz-placeholder {
    color: #48484a;
    opacity: 1
}
::-moz-placeholder {
    color: #48484a;
    opacity: 1
}
:-ms-input-placeholder {
    color: #48484a;
    opacity: 1
}
.cap-box p {
    font: 400 15px/20px Open Sans, Sans-serif;
    color: #8f8f8e
}
.back-btn, .submit {
    background: url(../img/order-btn.jpg) center center repeat-x #f3af16;
    padding: 8px 30px;
    font: 400 18px Open Sans, Sans-serif;
    text-shadow: -2px 1px 1px #a4730c;
    display: inline-block;
    -moz-transition: all ease .5s;
    text-transform: uppercase
}
.cap-box p span {
    color: #1f88c9;
    text-transform: uppercase
}
.input-holder {
    position: relative
}

.modal-content .btn{
    border: 0;
    text-transform: uppercase;
}
.input-holder.error input, .input-holder.error textarea {
    border: 1px solid #0188cc !important
}
span.error, span.errors {
    position: absolute;
    top: -31px;
    left: 0;
    font-size: 12px;
    background: #0188cc;
    border-radius: 4px;
    color: #fff;
    padding: 1px 10px;
    z-index: 9;
    display: none
}
span.error:after, span.errors:after {
    content: "";
    position: absolute;
    width: 0;
    bottom: -7px;
    left: 10px;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #0188cc
}
.cap-box {
    height: 123px
}
.thank-you{
    text-align: center;
    padding: 100px 0;
}
.thank-you p{
   font-size: 27px;
    margin: 16px 0;
}
.thank-you p span{
    color: #00b9e4;
    font-weight: bold;
}

@media screen and (max-width: 767px){
    .thank-you{
        padding: 50px 20px;
     }
}

.clockpicker-align-right.popover>.arrow{
        top: 39px;
}
/***star offer****/
   .staroffer
   {
    z-index: 999;
    height: 18rem;
    }

    @media (max-width: 1440px){
         .staroffer {
        left: -74rem;
        top: 0rem;
        height: 17rem;
    }
    }


    @media (max-width: 1024px) and (min-width: 801px){
         .staroffer {
        left: -12rem;
        top: 14rem;
        height: 23rem;
    }
    }

      @media (max-width: 800px) and (min-width: 787px){
         .staroffer {
        left: -26rem;
        top: 14rem;
        height: 23rem;
    }
    }


    @media (max-width: 786px) and (min-width: 767px){
         .staroffer {
        top: 16rem;
        left: -13rem;
    }
    }
    @media (max-width: 768px) and (min-width: 601px){
         .staroffer {
            top: 14rem;
    left: -10rem;
    }
    }
     @media (max-width: 600px) and (min-width: 415px){
         .staroffer {
            top: 22rem;
    left: 2rem;
    }
    }


    @media (max-width: 414px) and (min-width: 376px){
           .staroffer {
        top: 10rem;
        left: -1rem;
    }
    }


    @media (max-width: 375px) and (min-width: 359px){
            .staroffer {
          top: 8rem;
        left: -2rem;
         }
    }


    @media (max-width: 360px){
          .staroffer {
        height: 12rem;
        width: 45%;
    }
    }


    @media (max-width: 360px){
      .ribbon.lt{
        font-size: 1.6rem;
        padding-left: 7.6rem;
        top: -16px;
        width: 69%;
        line-height: 1.8rem;
      }
    }

/** new ribbon **/
.sixmonthfree{
  position: absolute;
  top: -80px;
  left: -120px;
  height: 60%;
}
.ribbonnew {
width: 150px;
height: 150px;
overflow: hidden;
position: absolute;
}
.ribbonnew::before,
.ribbonnew::after {
position: absolute;
z-index: -1;
content: '';
display: block;
border: 5px solid #b7a100;
}
.ribbonnew span {
position: absolute;
display: block;
width: 225px;
padding: 15px 0;
background-color: #fae600;
box-shadow: 0 5px 10px rgba(0,0,0,.1);
color: #031F73;
text-shadow: 0 1px 1px rgba(0,0,0,.2);
text-transform: uppercase;
text-align: center;
}


/* top left*/
.ribbon-top-left {
top: -10px;
left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
border-top-color: transparent;
border-left-color: transparent;
}
.ribbon-top-left::before {
top: 0;
right: 0;
}
.ribbon-top-left::after {
bottom: 0;
left: 0;
}
.ribbon-top-left span {
right: -25px;
top: 30px;
transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
top: -10px;
right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
border-top-color: transparent;
border-right-color: transparent;
}
.ribbon-top-right::before {
top: 0;
left: 0;
}
.ribbon-top-right::after {
bottom: 0;
right: 0;
}
.ribbon-top-right span {
left: -25px;
top: 30px;
transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
bottom: -10px;
left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
border-bottom-color: transparent;
border-left-color: transparent;
}
.ribbon-bottom-left::before {
bottom: 0;
right: 0;
}
.ribbon-bottom-left::after {
top: 0;
left: 0;
}
.ribbon-bottom-left span {
right: -25px;
bottom: 30px;
transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
bottom: -10px;
right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
border-bottom-color: transparent;
border-right-color: transparent;
}
.ribbon-bottom-right::before {
bottom: 0;
left: 0;
}
.ribbon-bottom-right::after {
top: 0;
right: 0;
}
.ribbon-bottom-right span {
left: -25px;
bottom: 30px;
transform: rotate(-225deg);
}

/* Download Speed Boxes on top */

.dlspeed{
  font-size: 2.9rem;
    color: #ffffff;
}


.rates {
    font-size:1rem;
    font-weight:400;
}
.rates sup{
  top: -1.5em;
font-size: 40%;
}
.subheader{
  height: 19rem;
  background: #0f236e;
}
.subheader .row{
  margin-top:12rem;
}

.customer{
  margin: 2rem 0;
    background: #00B9E4;
}

.lightning{
  margin: 2rem 0;
}
.lightning-pic{
margin-left: -50px;
}
.customer h3{
    padding: 30px 150px 0 0;
}

.tns-item q{
   quotes: "“" "”";
   font-style: oblique;
   color: #ffffff;
    font-size: 1.8rem;
    line-height: 2rem;
}
.tns-item q:before,.tns-item q:after{
  /* content: '\0312'; */
  font-size:2.9rem;
}
.tns-item p{
  font-weight: bold;
  font-size: 2rem;
}
.tns-outer{
  margin-top: 7rem
}
.tns-outer button[data-action]{
  display:none
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .subheader .row {
      margin-top: 14rem;
  }
}

@media only screen and (max-device-width : 823px)
{
  .subheader .row {
      margin-top: 14rem;
  }
}

@media only screen and (max-device-width : 736px)
{
  .subheader .row {
      margin-top: 16rem;
  }
  .subheader{height: 24rem;}
}

@media only screen and (max-device-width : 414px)
{
  .subheader .row {
      margin-top: 24rem;
  }
  .subheader{height: 30rem;}
}

@media only screen and (max-device-width : 411px)
{
  .subheader .row {
      margin-top: 23rem;
  }
  .subheader{height: 30rem;}
}
/* six months free */
.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
