.tns-outer{padding:0 !important}.tns-outer [hidden]{display:none !important}.tns-outer [aria-controls],.tns-outer [data-action]{cursor:pointer}.tns-slider{-webkit-transition:all 0s;-moz-transition:all 0s;transition:all 0s}.tns-slider>.tns-item{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.tns-horizontal.tns-subpixel{white-space:nowrap}.tns-horizontal.tns-subpixel>.tns-item{display:inline-block;vertical-align:top;white-space:normal}.tns-horizontal.tns-no-subpixel:after{content:'';display:table;clear:both}.tns-horizontal.tns-no-subpixel>.tns-item{float:left}.tns-horizontal.tns-carousel.tns-no-subpixel>.tns-item{margin-right:-100%}.tns-no-calc{position:relative;left:0}.tns-gallery{position:relative;left:0;min-height:1px}.tns-gallery>.tns-item{position:absolute;left:-100%;-webkit-transition:transform 0s, opacity 0s;-moz-transition:transform 0s, opacity 0s;transition:transform 0s, opacity 0s}.tns-gallery>.tns-slide-active{position:relative;left:auto !important}.tns-gallery>.tns-moving{-webkit-transition:all 0.25s;-moz-transition:all 0.25s;transition:all 0.25s}.tns-autowidth{display:inline-block}.tns-lazy-img{-webkit-transition:opacity 0.6s;-moz-transition:opacity 0.6s;transition:opacity 0.6s;opacity:0.6}.tns-lazy-img.tns-complete{opacity:1}.tns-ah{-webkit-transition:height 0s;-moz-transition:height 0s;transition:height 0s}.tns-ovh{overflow:hidden}.tns-visually-hidden{position:absolute;left:-10000em}.tns-transparent{opacity:0;visibility:hidden}.tns-fadeIn{opacity:1;filter:alpha(opacity=100);z-index:0}.tns-normal,.tns-fadeOut{opacity:0;filter:alpha(opacity=0);z-index:-1}.tns-vpfix{white-space:nowrap}.tns-vpfix>div,.tns-vpfix>li{display:inline-block}.tns-t-subp2{margin:0 auto;width:310px;position:relative;height:10px;overflow:hidden}.tns-t-ct{width:2333.3333333%;width:-webkit-calc(100% * 70 / 3);width:-moz-calc(100% * 70 / 3);width:calc(100% * 70 / 3);position:absolute;right:0}.tns-t-ct:after{content:'';display:table;clear:both}.tns-t-ct>div{width:1.4285714%;width:-webkit-calc(100% / 70);width:-moz-calc(100% / 70);width:calc(100% / 70);height:10px;float:left}

.nav.active ul { left: 0; }
.nav.active .nav-toggle-handle { left: 17em; }
.nav.active .nav-toggle-handle:before { display: inline-block; }
.nav.active .nav-toggle-handle:after { display: none; }
.nav ul {
  position: fixed;
  top: 0;
  left: -17em;
  z-index: 100;
  width: 17em;
  height: 1000px;
  height: 100vh;
  background-color: #fff;
  -webkit-box-shadow: 2px 0 15px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.15);
  transition: left 0.25s;
  overflow-y: auto;
}
.nav a {
  display: block;
  padding: 0.7em 1em;
  color: inherit;
  text-decoration: none;
}
.nav a:hover { background-color: #F3F3F3; }
.nav .active {
  color: #fff;
  background-color: #af23ff !important;
}
.nav-toggle-handle {
  position: fixed;
  transition: left 0.25s;
  left: 0;
  top: 0;
  z-index: 100;
  padding: 10px;
  color: #fff;
  background-color: #af23ff;
  cursor: pointer;
}
.nav-toggle-handle:before {
  display: none;
  padding-right: 5px;
  content: '◄';
  font-size: 0.8em;
}
.nav-toggle-handle:after {
  padding-left: 5px;
  content: '►';
  font-size: 0.8em;
}

.img-1 { background: #D6D65B; background: hsl(60, 60%, 60%); }
.img-2 { background: #5BD6AD; background: hsl(160, 60%, 60%); }
.img-3 { background: #5B99D6; background: hsl(210, 60%, 60%); }
.img-4 { background: #D65BC1; background: hsl(310, 60%, 60%); }
.img-5 { background: #70D65B; background: hsl(110, 60%, 60%); }
.img-6 { background: #D65B5B; background: hsl(0, 60%, 60%); }
.img-7 { background: #D6995B; background: hsl(30, 60%, 60%); }
.img-8 { background: #705BD6; background: hsl(250, 60%, 60%); }
.customize-tools { position: relative; }
.thumbnails {
  margin: 20px 0;
  text-align: center;
}
.thumbnails li {
  display: inline-block;
  cursor: pointer;
  border: 5px solid #fff;
}
.thumbnails .tns-nav-active {
  background: none;
  border-color: #000;
}
.thumbnails li { width: 50px; }
.thumbnails img { vertical-align: bottom; height: auto; max-height: 50px; }
.controls { text-align: center; }
.controls li {
  display: block;
  position: absolute;
  top: 50%;
  height: 60px;
  line-height: 60px;
  margin-top: -30px;
  padding: 0 15px;
  cursor: pointer;
  transition: background 0.3s;
}
.controls li img { display: inline-block; vertical-align: middle; }
.controls .prev { left: 0; }
.controls .next { right: 0; }
.controls li:hover { background: #f2f2f2; }

.tns-controls { text-align: center; margin-bottom: 10px; }
.tns-controls [aria-controls] {
  font-size: 15px;
  margin: 0 5px;
  padding: 0 1em;
  height: 2.5em;
  color: #000;
  background: #66CCFF;
  border-radius: 3px;
  border: 0;
}
.lt-ie9 .tns-controls > [aria-controls] {
  line-height: 2.5em;
}
[data-action] {
  display: block;
  margin: 10px auto;
  font-size: 17px;
  min-width: 3em;
  text-align: center;
  background: transparent;
  border: 0;
}
.tns-controls [disabled] {
  color: #999999;
  background: #B3B3B3;
  cursor: not-allowed !important;
}
.tns-nav {
  text-align: center;
  margin: 10px 0;
}
.tns-nav > [aria-controls] {
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: #ddd;
  border: 0;
}
.tns-nav > .tns-nav-active { background: #999; }
.playbutton-wrapper { text-align: center; }
.playbutton-wrapper button { height: 34px; padding: 0 10px; font-size: 14px; background: #fff; border-radius: 3px; border: 1px solid  #ccc; cursor: pointer; }
.wrapper { padding: 0 5em; }
.suite-container .title,
.suite-container .subtitle,
.suite-container li { padding: 5px 10px; }
.suite-container li {
  font-size: 12px;
  line-height: 1.4;
  background: #f5f5f5;
}

/*# sourceMappingURL=sourcemaps/tiny-slider.css.map */
